[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/main"]
	owner = group Administrators
	owner = group Jenkins
	push = +force group Administrators
	push = group Jenkins
	read = group Administrators
	read = group Jenkins
	submit = group Administrators
	submit = group Jenkins
	submit = group user/andannn (Andannn)
	submitAs = group Administrators
	submitAs = group user/andannn (Andannn)
	exclusiveGroupPermissions = label-Code-Review
    label-Code-Review = -2..+2 group Administrators
    label-Code-Review = -2..+2 user/andannn

[label "Code-Review"]
    function = MaxWithBlock
    defaultValue = 0
    value = -2 This shall not be merged
    value = -1 I would prefer this is not merged as is
    value = 0 No score
    value = +1 Looks good to me, but someone else must approve
    value = +2 Looks good to me, approved