[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/main"]
	owner = group Administrators
	owner = group Jenkins
	push = +force group Administrators
	push = group Jenkins
	read = group Administrators
	read = group Jenkins
	label-Code-Review = -2..+2 group Administrators
	submit = group Administrators
	submit = group Jenkins
